:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: Raleway, sans-serif;
  --akcent-color: #2196f3;
  --first-colour: #ffffff;
  --second-colour: #757575;
  --third-colour: #212121;
  --fourth-colour: #000000;
  --fives-colour: #eeeeee;
  --background-colour: #2f303a;
  --secondary-bg-colour: #f5f4fa;
  --vectorsbg:#F5F4FA;
  --vectors:#AFB1B8;
  --footervectorsbg: rgba(255, 255, 255, 0.1);
}
body {
  font-family: var(--main-font);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.adress {
  font-style: normal;
}

.logo-text {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo link {
  font-family: var(--secondary-font);

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  /*color: #2196f3;*/
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header-container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
}
/*===========HEADER==========*/
.header {
  display: flex;
  align-items: center;

  background-color: var(--first-colour);

  border-bottom: var(--fives-colour) 1px solid;
}
.header-icons-tel{
  width: 10px;
  height: 16px;
  margin-right: 10px;
}
.header-icons{
  width: 16px;
  height: 12px;
  margin-right: 10px;
}


.header-links-item:hover,
.header-links-item:focus
{
  color: var(--akcent-color);
  fill:#2196f3
}
.header-links-item:not(:last-child) {
  margin-left: auto;
  margin-right: 50px;
}
.img-about {
  display: flex;
}

.logo {
  margin-right: 70px;
  padding-top: 24px;
  padding-bottom: 25px;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
}
.logo-text-header {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: var(--fourth-colour);
}
.navigation-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--third-colour);
  padding-top: 32px;
  padding-bottom: 32px;
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--akcent-color);
}
.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--second-colour);
}


.header-icons,.contact-link:hover ,
.contact-link:focus {
 
 color: var(--akcentcolor);
}
.contact-list {
  display: flex;
  align-items: center;

  margin-left: auto;

}

/*=========HERO========*/
.herro {
  background-color: var(--background-colour);
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;
  background-image:linear-gradient(rgba(47, 48, 58, 0.4),
rgba(47, 48, 58, 0.4)
  ), url(../images/herro/Img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
}
.herro-link{
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;}

.herro-link:not(:last-child) {
  margin-right: 30px;
}
.herro-portfolio {
  text-align: center;
  padding-bottom: 94px;
  padding-top: 94px;
}

.about-border-portfolio {
  background-color: var(--first-colour);
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
  border: var(--fives-colour) 1px solid;
}

.about-list-portfolio {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.herro-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;

  color: var(--first-colour);
  margin-bottom: 30px;

  text-transform: uppercase;
}
.model-btn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  padding-bottom: 200px;

  letter-spacing: 0.06em;

  color: var(--first-colour);
  padding: 10px 32px;
  background-color: var(--akcent-color);
}
.model-btn1 {
  min-width: 128px;
  
  left: 576px;
  top: 174px;

  background: var(--secondary-bg-colour);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  padding-top: 6px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 6px;

  letter-spacing: 0.06em;
  border: var(--secondary-bg-colour);
  color: var(--third-colour);
}

.model-btn:hover,
.model-btn:focus {
  background-color: var(--akcent-color);
}
.model-btn1:hover,
.model-btn1:focus {
  background-color: var(--akcent-color);
  color: var(--first-colour);
}

.herro-list {
  display: flex;

  margin-bottom: 56px;
  justify-content: center;
}
/*================ABOUT===========*/
.about-border {
  border: solid 1px;
  border-top: none;
}

.features {
  padding-top: 94px;
  padding-bottom: 47px;
}
.features-icons{
  margin-bottom: 30px;
  justify-content: center;
  display: flex;
  width: 270px;
height: 120px;
background-color: var(--vectorsbg);
align-items: center;
}

.about-list {
  display: flex;
}
.about-mini-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-colour);
  margin-bottom: 10px;
}
.about-subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-colour);
}
.about-title-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: var(--third-colour);
  margin-top: 20px;
  margin-bottom: 4px;
}
.about-item {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.03em;

  color: var(--second-colour);
  padding-bottom: 20px;
}
.about-item:not(:last-child) {
  margin-right: 30px;
}
.about-link {
  margin-bottom: 30px;
  margin-right: -30px;
 
}
.about-link:hover,
.about-link:focus{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16)
}
.about-link:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
/*==========Section3==========*/
.about {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section3-list {
  display: flex;
  /* justify-content: space-between;*/
}
.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--third-colour);
}
.section3-about {
  padding-bottom: 94px;
  padding-top: 47px;
}
.section3-item {
  margin-right: 30px;
}

/*===========section4==========*/

/*.about-our-teem-title {
  margin-bottom: 60px;
}*/
.section4-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.section4-item:not(:last-child) {
  margin-right: 30px;
}
.section4-teem {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: var(--first-colour);
}

.section4-list {
  display: flex;
  justify-content: space-between;
}

.section4-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--third-colour);
  margin-bottom: 10px;
}

.section4-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-colour);
  padding-bottom: 30px;
}
.social-list-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color:var(--first-colour);
}
.social-list-link:hover,
.social-list-link:focus{
background-color: var(--akcent-color);
fill: var(--first-colour);

}
.social-list{
  display: flex;
  justify-content: space-between;
}
.social-list-icon{
  fill:var(--vectors);
}
/*==========components=======*/
.logo-light-teme {
  color: var(--fourth-colour);
}
.logo-dark-teme {
  color: var(--first-colour);
}
/*===========Partners=========*/

.partners-link{
  width: 170px;
height: 90px;
border: 1px solid #AFB1B8;
box-sizing: border-box;
border-radius: 4px;
display: flex;
align-items: center;
justify-content: center;
fill:var(--vectors);
}
.partners-thumb :hover,
.partners-thumb:focus {
fill: var(--akcent-color);
background-color: var(--first-colour);
}
.partners-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.partners-link:hover .partners-icon
.partners-link:focus .partners-icon{
  fill:var(--akcent-color);
  border-color: var(--akcent-color);
}
.partners-item:hover,
.partners-icon .partners-link:focus{
  fill:var(--akcent-color);
  border: 1px solid var(--akcent-color);
border-radius: 4px;
  
 
  
}/*
.partners-icon:hover
.partners-icon:focus{
 color: var(--akcent-color);
}*/
.container-partners{
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  padding-bottom: 94px;

}
/*=========footer=======*/
footer {
  background-color: var(--background-colour);
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 15px;
  padding-right: 15px;
}
.footer-container{
   width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.adress {
  margin-top: 20px;
}
.footer-wraper{
  display: inline-block;
 
}


.adress-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 20px;
  letter-spacing: 0.03em;
  margin-bottom: 9px;

  color: var(--first-colour);
}
.adress-mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 9px;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.adress-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-bottom: 9px;
  color: var(--second-colour);
}
.adreess-link {
  margin-top: 20px;
}
.adress-item:hover,
.adress-item:focus {
  color: var(--akcent-color);
}
.adress-tel:hover,
.adress-tel:focus{
  color: var(--akcent-color);
}
.adress-mail:hover,
.adress-mail:focus{
  color: var(--akcent-color);
}
.icon-list{
  display: flex;
  align-items: center;
}

.footer-wraper:not(:last-child){
  margin-right: 70px;
  
}
.icon-list-item{
  box-sizing: inherit;
  justify-content: space-between;
  
}
.icon-item-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color:var(--footervectorsbg);
 
  
}
.icon-item-link:hover,
.icon-item-link:focus{
 background-color: #2196f3;
}
.footer-icons{
  fill:#ffffff;
}
.invitation{

font-family: var(--main-font);
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;

color:var(--first-colour);
margin-bottom: 20px;
}
.icon-list-item:not(:last-child){
  margin-right: 10px;
}
